body {
    background-image: url("https://i.im.ge/2024/09/20/kM0IcJ.luzes-de-neon-gradientes-abstratas-23-2149279135.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: "Lato";
}

#container {
    display: flex;
}

.cartao {
    margin: 16px 16px;
    background-color:black;
    height: 320px;
    flex-grow: 1;
    flex-basis: calc(33% -96px);
    border-radius: 16px;
    border: 5px solid yellow;
    box-shadow: 20px 20px 40px gray;
}

footer{
    background-color:black;
    color: #00BFFF;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 32px;
}

footer p{
    text-align: center;
    font-size: 0,6rem;
    margin-top: 8px;
}

.cartao_conteudo {
    text-align: center;
    height: 100%;
    color: white;
}

.cartao_conteudo h3 {
    background-color: gray;
    text-align: left;
    padding: 8px;
    border: 3px solid yellow;
    border-radius: 20px;
    position: absolute;
    margin: 0.6rem;
    font-size: 1vw;
    color:yellow;
    box-shadow: 5px 10px 20px rgb(255, 238, 0);
}